.card{
    position: relative;
    padding:10px;
    margin-right: 10px;
    background-color: #ddd;
}
.card p{
position: absolute;
bottom:2px;
background:tomato;
display:none;
}
.card:hover p{
    display:block;
}
.flex{
    display:flex;
    flex-wrap:wrap;
   /*  justify-content: center; */
}