.chat-now{
    position:fixed;
    background:blue;
    padding:10px;
    border-radius:50%;
    border: #000;
    bottom:10px;
    right:40px;
}
body{
    height: 10000px;
    padding: 0;
    margin: 0;
}
nav{
width: 100%;
background: #000;
color: #fff;
position:fixed;
top:0;
left:0;
}
nav ul li{
    display:inline-block;
}