body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #ffeead;
    margin: 5px;
    padding: 10px;
    height: 100%;
}

.container1 {
    margin-bottom: 50px;
}
.container2 {
    margin-top: 50px;
}

hr {
    margin: 80px;
}

.container1 > div {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;/*Now the width of each div is adjusted according to the font size.*/
    color: #ffeead;
}

.container1 > div:nth-child(1n) {
    background-color: #96ceb4;	
}
  
.container1 > div:nth-child(3n) {
    background-color: #88d8b0;
}
  
.container1 > div:nth-child(2n) {
    background-color: #ff6f69;
}
  
.container1 > div:nth-child(4n) {
    background-color: #ffcc5c;
}


.container2 > div {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;/*Now the width of each div is adjusted according to the font size.*/
    color: #ffeead;
}

.container2 > div:nth-child(1n) {
    background-color: #96ceb4;	
}
  
.container2 > div:nth-child(3n) {
    background-color: #88d8b0;
}
  
.container2 > div:nth-child(2n) {
    background-color: #ff6f69;
}
  
.container2 > div:nth-child(4n) {
    background-color: #ffcc5c;
}